@import 'tailwindcss';

:root {
  --foreground: #0a0a0a;
  --background: #fafaf9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), sans-serif;
}
